<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Salida de Materiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-select placeholder="Bodega" [(ngModel)]="data.bodega">
        <ion-select-option *ngFor="let row of bodegas" value="{{ row.description }}">{{ row.description }}</ion-select-option>
      </ion-select>
      <ion-select placeholder="Tipo Salida" [(ngModel)]="data.TipoSalida">
          <ion-select-option *ngFor="let row of tipoSalida" value="{{ row.description }}">{{ row.description }}</ion-select-option>
        </ion-select>
        <ion-button [disabled]="!(data.bodega && data.TipoSalida)" class="ion-margin-top" color="primary" expand="block" (click)="onAgregar()">Agregar Producto</ion-button>        
        <div *ngIf="productos.length > 0">
          <ion-grid>
              <ion-row>
                  <table>
                      <thead>
                        <th>Producto</th>
                        <th>Unidad.</th>
                        <th>Pedido</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of productos">
                          <td>{{ row.producto }}</td>
                          <td>{{ row.unidad }}</td>
                          <td>{{ row.pedido }}</td>
                        </tr>
                      </tbody>
                    </table>
                </ion-row>
          </ion-grid>
          <ion-button class="ion-margin-top" color="primary" expand="block" (click)="onProcesar()">Procesar</ion-button>        
        </div>
</ion-content>
