<ion-header translucent="true" no-border>
  <ion-toolbar>
    <!--<ion-title text-center>Trip2 EMT</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="4" size-sm="6">
          <ion-card>

            <ion-card-header>
              <ion-img src="/assets/images/shapes.png" (click)="loadDev()"></ion-img>
            </ion-card-header>
            
            <ion-card-content>
              <form [formGroup]="formLogin">
                <ion-item>
                  <ion-input type="email" placeholder="Usuario" formControlName="username"></ion-input>
                </ion-item>
                <ion-item class="ion-margin-top">
                  <ion-input type="password" placeholder="Clave" formControlName="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>CC</ion-label>
                  <ion-select placeholder="Selecciones uno" formControlName="centroCosto">
                    <ion-select-option *ngFor="let row of centrosCosto" value="{{ row.id }}">{{ row.description }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-button class="ion-margin-top" color="primary" expand="block" 
                [disabled]="!formLogin.valid" (click)="onLogin()">
                  ENTRAR
                </ion-button>
              </form>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>