<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>    
    <ion-title>Existencias en Bodega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-select placeholder="Bodega" [(ngModel)]="bodega" (ionChange)="onCargar()">
        <ion-select-option *ngFor="let row of bodegas" value="{{ row.id }}">{{ row.description }}</ion-select-option>
      </ion-select>
      <ion-grid *ngIf="productos.length > 0">
          <ion-row>
              <table>
                  <thead>
                    <th>Producto</th>
                    <th>Unidad.</th>
                    <th>Cantidad</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of productos">
                      <td>{{ row.producto }}</td>
                      <td>{{ row.unidad }}</td>
                      <td>{{ row.cantidad }}</td>
                    </tr>
                  </tbody>
                </table>
          </ion-row>
        </ion-grid>
</ion-content>
