<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-title>BuildSoft - INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="4" size-sm="8">
          <ion-item>
          <ion-img src="/assets/images/shapes.png"></ion-img>
          </ion-item>

          
              <ion-button (click)="onOpenView(1)" class="ion-margin-top" color="primary" expand="block">
                Requisición
              </ion-button>
          
              <ion-button (click)="onOpenView(2)" class="ion-margin-top" color="primary" expand="block">
                Entrada de Materiales
              </ion-button>
          
              <ion-button (click)="onOpenView(3)" class="ion-margin-top" color="primary" expand="block">
                Salida de Materiales
              </ion-button>
          
          
              <ion-button (click)="onOpenView(4)" class="ion-margin-top" color="primary" expand="block">
                Existencia en Bodega
              </ion-button>

              <ion-button (click)="onOpenView(5)" class="ion-margin-top" color="primary" expand="block">
                  Salir
                </ion-button>
          


        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>