<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Requisición de Materiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-lg="4" size-sm="8">
            <ion-label>C.C: <strong>{{ centroCosto }}</strong></ion-label>
            <ion-button (click)="onAddProducto()" class="ion-margin-top" color="primary" expand="block">Adicionar Productos</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="productos.length > 0">
          <table>
            <thead>
              <th>Producto</th>
              <th>Unidad.</th>
              <th>Cantidad</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of productos">
                <td>{{ row.producto }}</td>
                <td>{{ row.unidad }}</td>
                <td>{{ row.cantidad }}</td>
              </tr>
            </tbody>
          </table>
        </ion-row>
        <ion-button *ngIf="productos.length > 0" (click)="onProcesar()" class="ion-margin-top" color="primary" expand="block">Procesar</ion-button>
      </ion-grid>
</ion-content>
