<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Requisición de Materiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-lg="4" size-sm="8">
            <ion-label>Centro de Costos: XXXXXX-XXXXX</ion-label>
            <ion-button (click)="onAddProducto()" class="ion-margin-top" color="primary" expand="block">Adicionar Productos</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <table style="width: 100%; border: 1px solid #000;">
            <thead>
              <th>Producto</th>
              <th>Unidad</th>
              <th>Cantidad</th>
            </thead>
            <tbody>
              <tr>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
              </tr>
            </tbody>
          </table>
        </ion-row>
        <ion-button (click)="onProcesar()" class="ion-margin-top" color="primary" expand="block">Procesar</ion-button>
      </ion-grid>
</ion-content>
