<ion-header>
  <ion-toolbar text-center color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Entrada de Materiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-select placeholder="Bodega">
        <ion-select-option value="f">Bolsa</ion-select-option>
        <ion-select-option value="m">Bulto</ion-select-option>
        <ion-select-option value="m">Galon</ion-select-option>
        <ion-select-option value="m">Unidad</ion-select-option>
      </ion-select>
      <ion-input type="text" placeholder="Nom. Entrada"></ion-input>
      <ion-button class="ion-margin-top" color="primary" expand="block">Cargar</ion-button>
      <ion-grid>
      <ion-row>
          <ngx-datatable
        [rows]="rows"
        [columns]="columns">
      </ngx-datatable>
        </ion-row>
        <ion-button class="ion-margin-top" color="primary" expand="block">Procesar</ion-button>
      </ion-grid>
</ion-content>
